parameters:
  jsonrpc_server.debug: false

services:
  jsonrpc_server.controller_resolver:
    class: Bankiru\Api\Rpc\Routing\ControllerResolver\ControllerResolver
    arguments:
    - "@service_container"
    - "@jsonrpc_server.controller_name_parser"
    - "@?logger"

  jsonrpc_server.view.notification_response:
    class: Bankiru\Api\JsonRpc\Listener\NotificationResponseListener
    tags:
    - { name: kernel.event_listener, event: rpc.view, method: onNullResponse, priority: -255 }

  jsonrpc_server.view.notification_filter:
    class: Bankiru\Api\JsonRpc\Listener\NotificationFilter
    tags:
    - { name: kernel.event_listener, event: rpc.response, method: filterNotificationResponse, priority: -255 }


  jsonrpc_server.reponse_listener.match_id:
    class: Bankiru\Api\JsonRpc\Listener\IdMatcherListener
    tags:
    - { name: kernel.event_listener, event: rpc.response, method: onFilterResponse, priority: -254 }

  jsonrpc_server.controller_name_parser:
    class: Bankiru\Api\JsonRpc\Controller\JsonRpcControllerNameParser
    parent: rpc_server.controller_name_parser

  jsonrpc_server.exception_listener:
    class: Bankiru\Api\JsonRpc\Listener\ExceptionHandlerListener
    arguments:
    - "%jsonrpc_server.debug%"
    tags:
    - { name: kernel.event_listener, event: rpc.exception, method: onJsonRpcException }

  jsonrpc_server.http_exception_listener:
    class: Bankiru\Api\JsonRpc\Listener\HttpExceptionListener
    tags:
    - { name: kernel.event_listener, event: kernel.exception, method: onJsonRpcException }
